<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="/dashboard">ReciclaTextil</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/dashboard">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="/dashboard/donation-list">Donations</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/dashboard/detailed-view">Detailed View</a>
      </li>
    </ul>
  </div>
</nav>

<div id="list">
  <h3>Donations:</h3>
</div>
<table>
  <thead>
    <tr>
      <th>Donor's Name</th>
      <th>Kilograms Donated</th>
      <th>Condition</th>
      <th>Points Awarded</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let donation of data">
      <ng-container *ngIf="donation.points > 10">
        <td>{{ donation.donor.name }}</td>
        <td>{{ donation.kg }}</td>
        <td>{{ donation.condition }}</td>
        <td>{{ donation.points }}</td>
      </ng-container>
    </tr>
  </tbody>
</table>
