<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="/dashboard">ReciclaTextil</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/dashboard']">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" [routerLink]="['/dashboard/donation-list']">Donations</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/dashboard/detailed-view']">Detailed View</a>
      </li>
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" (click)="logout()" href="/login">Logout</a>
      </li>
    </ul>
  </div>
</nav>

<div id="list">
  <h3>Donations:</h3>
</div>
<table>
  <thead>
    <tr>
      <th>Donor's Name</th>
      <th>Kilograms Donated</th>
      <th>Condition</th>
      <th>Points Awarded</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let donation of data">
      <ng-container>
        <td>{{ donation.donor }}</td>
        <td>{{ donation.kg }}</td>
        <td>{{ donation.condition }}</td>
        <td>{{ donation.points }}</td>
      </ng-container>
    </tr>
  </tbody>
  <tbody>
    @for(donation of data; track donation.id; let idx = $index){
    <ng-container>
      <td>{{idx}} : {{ donation.donor }}</td>
      <td>{{ donation.kg }}</td>
      <td>{{ donation.condition }}</td>
      <td>{{ donation.points }}</td>
    </ng-container>
    }
  </tbody>
</table>
