<aside>
  <nav class="sidebar py-2 mb-4">
    <ul class="nav flex-column" id="nav_accordion">
      <li class="nav-item">
        <a
          class="nav-link"
          data-bs-toggle="collapse"
          data-bs-target="#menu_item1"
          href="#"
        >
          Entities <i class="bi small bi-caret-down-fill"></i>
        </a>
        <ul
          id="menu_item1"
          class="submenu collapse"
          data-bs-parent="#nav_accordion"
        >
          <li>
            <a class="nav-link" href="../entities.ejs"> All Entities </a>
          </li>
          <li>
            <a class="nav-link" href="../entities/create.ejs"> Add Entity </a>
          </li>
          <li>
            <a class="nav-link" href="../entities/update.ejs">
              Update Entity
            </a>
          </li>
          <li>
            <a class="nav-link" href="../entities/delete.ejs">
              Delete Entity
            </a>
          </li>
        </ul>
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          data-bs-toggle="collapse"
          data-bs-target="#menu_item1"
          href="#"
        >
          Donors <i class="bi small bi-caret-down-fill"></i>
        </a>
        <ul
          id="menu_item1"
          class="submenu collapse"
          data-bs-parent="#nav_accordion"
        >
          <li>
            <a class="nav-link" href="../donors.ejs"> All Donors </a>
          </li>
          <li>
            <a class="nav-link" href="../donors/create.ejs"> Add Donor </a>
          </li>
          <li>
            <a class="nav-link" href="../donors/update.ejs"> Update Donor </a>
          </li>
          <li>
            <a class="nav-link" href="../donors/delete.ejs"> Delete Donor </a>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
</aside>
;
