<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Entities</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div class="container">
      <div class="header">
        <h1>Recicla Têxtil</h1>
      </div>
      <div class="topnav">
        <a href="/"> Home </a>
        <a class="active" href="/entities"> Entities </a>
        <a href="/users"> Users </a>
      </div>
      <div>
        <h1>Entity actions:</h1>
        <p></p>
        <ul>
          <li><a href="entities/create"> Create entity</a></li>
          <li><a href="entities/update"> Update entity</a></li>
          <li><a href="entities/delete"> Delete entity</a></li>
        </ul>
      </div>  
      <div class="footer">
        <div class="pagination">
          <a href="#">&laquo;</a>
          <a href="#" class="active">1</a>
          <a href="#">2</a>
          <a href="#">3</a>
          <a href="#">4</a>
          <a href="#">5</a>
          <a href="#">...</a>
          <a href="#">&raquo;</a>
        </div>
      </div>
    </div>
  </body>
</html>
