<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <div class="header">
      <h1>Recicla Têxtil</h1>
    </div>
    <div class="topnav">
      <a class="active" href="/"> Home </a>
      <a href="/entities"> Entidades </a>
      <a href="/users"> Utilizadores </a>
      <a href="/donations/create"> Donations </a>
    </div>
    <div class="footer">
      <div class="pagination">
        <a href="#">&laquo;</a>
        <a href="#" class="active">1</a>
        <a href="#">2</a>
        <a href="#">3</a>
        <a href="#">4</a>
        <a href="#">5</a>
        <a href="#">...</a>
        <a href="#">&raquo;</a>
      </div>
    </div>
  </body>
</html>
