<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <style>
        .active {
            color: #ff0000; }
            h1 {
        margin-top: 2rem;
        padding: 1rem;
      }
      .add-button {
            margin-top: 40px;
        }
    </style>
</head>
   
    
    <body>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="/dashboard">ReciclaTextil</a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
  
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="/dashboard">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/donors/list">Doadores</a>
            </li>
  
            <li class="nav-item">
              <a class="nav-link" href="/entities/list"
                >Entidades beneficiadoras</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link " href="/donations/list"
                >Doações</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " href="/admins/list">Admins</a>
            </li>
          </ul>
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="/">Logout</a>
            </li>
          </ul>
        </div>
      </nav>
  
      <div class="row">
        <div class=" col-md-10">
          <h1>Lista de Doadores</h1>
        </div>
        <div class=" col-md-2 add-button">
          <button type="button" class="btn btn-outline-success rounded-pill">
            <a href="/donors/create" style="text-decoration: none; color: inherit;">Registar Doador</a>
        </div>
      </div>
   
      </div>
      
      <div class="form-group">
        <input type="text" id="searchInput" class="form-control" placeholder="Pesquisar por nome da entidade">
      </div>
      
      <% if (donors.length > 0) { %>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Nome</th>
            <th scope="col">Email</th>
            <th scope="col">Mais-Informações/Editar</th>
            <th scope="col">Apagar</th>
          </tr>
        </thead>
        <tbody>
        <tbody id="donorTableBody">
          <% donors.forEach(function(donor) { %>
          <tr>
            <td><%= donor.name %></td>
            <td><%= donor.email %></td>
            <td >
              <a href="/donors/update/<%= donor.id %>" class="btn btn-warning"
                >Editar</a
              >
            </td>
            <td>
              <a href="/donors/delete/<%= donor.id %>" class="btn btn-danger"
                >Exluir</a
              >
            </td>
          </tr>
          <% }); %>
        </tbody>
        <% } else { %>
          <div class="alert alert-info" role="alert">
            Não há doadores cadastrados.
          </div>
          <% } %>
      </table>
    
      <script
        src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"
      ></script>
      <script
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"
      ></script>
      <script
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"
      ></script>
      <script>
        document.addEventListener("DOMContentLoaded", function() {
          var searchInput = document.getElementById("searchInput");
          var rows = document.querySelectorAll("#donorTableBody tr");
    
          searchInput.addEventListener("input", function() {
            var searchTerm = searchInput.value.trim().toLowerCase();
    
            rows.forEach(function(row) {
              var name = row.getElementsByTagName("td")[0].innerText.toLowerCase();
              if (name.startsWith(searchTerm)) {
                row.style.display = "";
              } else {
                row.style.display = "none";
              }
            });
          });
        });
      </script>
    </body>
</html>
