<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Criar entidade</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div class="header">
      <h1> Recicla Têxtil </h1>
    </div>
    <div class="topnav">
      <a class="active" href="/"> Home </a>
      <a href="/entities"> Entities </a>
      <a href="/donations/create"> Users </a>
    </div>
    <div class="main">
      <form action="/donations/create" method="post">
        <label for="description"> Description: </label>
        <p></p>
        <textarea name="description" id="description" cols="30" rows="10" required></textarea>
        <p></p>
        <label for="value">Value:</label>
        <p></p>
        <input type="number" name="value" id="value" placeholder="1.00" step="0.01"> 
        <button type="submit"> Submit </button>
        <input type="reset" value="Reset">
      </form>
    </div>
  </body>
</html>