<form (ngSubmit)="onSubmit()">
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputEmail4">Empresa:</label>
      <input
        type="text"
        class="form-control"
        id="inputNome4"
        placeholder="Insira o nome da empresa"
        [(ngModel)]="entity.name"
        name="name"
        required
      />
    </div>
    <div class="form-group col-md-6">
      <label for="inputContribuinte4">Contribuinte:</label>
      <input
        type="text"
        class="form-control"
        id="inputContribuinte4"
        pattern="[0-9]{9}"
        placeholder="Insira o Contribuinte da empresa"
        [(ngModel)]="entity.taxpayerNumber"
        name="taxpayerNumber"
        required
      />
    </div>
  </div>
  <div class="form-group">
    <label for="inputEmail4">Email</label>
    <input
      type="email"
      class="form-control"
      id="inputEmail4"
      placeholder="Insira o email"
      [(ngModel)]="entity.email"
      name="email"
      required
    />
  </div>
  <div class="form-group">
    <label for="ipass">Password</label>
    <input
      type="Password"
      class="form-control"
      id="inputPassword4"
      placeholder="Insira a password"
      [(ngModel)]="entity.password"
      name="password"
      required
    />
  </div>
  <div class="form-group">
    <label for="inputAddress">Telefone:</label>
    <input
      type="Telefone"
      class="form-control"
      id="inputTelefone4"
      pattern="[0-9]{9}"
      placeholder="Insira o nº telefone da empresa"
      [(ngModel)]="entity.phoneNumber"
      name="phoneNumber"
      required
    />
  </div>
  <div class="form-group">
    <label for="inputAddress2">Morada:</label>
    <input
      type="text"
      class="form-control"
      id="inputAddress2"
      placeholder="Rua, nº porta,andar"
      [(ngModel)]="entity.address"
      name="address"
      required
    />
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputCity">Cidade</label>
      <input
        type="text"
        class="form-control"
        id="inputCity"
        placeholder="Insira a cidade"
        [(ngModel)]="entity.city"
        name="city"
        required
      />
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputEstado">Distrito</label>
      <select id="inputEstado" class="form-control" [(ngModel)]="entity.district" name="district" required>
        <option selected>Selecione</option>
        <option>Aveiro</option>
        <option>Beja</option>
        <option>Braga</option>
        <option>Bragança</option>
        <option>Coimbra</option>
        <option>Évora</option>
        <option>Faro</option>
        <option>Guarda</option>
        <option>Leiria</option>
        <option>Lisboa</option>
        <option>Portalegre</option>
        <option>Porto</option>
        <option>Santarém</option>
        <option>Setubal</option>
        <option>Viana do Castelo</option>
        <option>Vila Real</option>
        <option>Viseu</option>
      </select>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="exampleFormControlTextarea1">Descrição</label>
      <textarea
        class="form-control"
        id="exampleFormControlTextarea1"
        rows="3"
        placeholder="Faça uma breve descrição acerca da empresa"
        [(ngModel)]="entity.description"
        name="description"
        required
      ></textarea>
    </div>
  </div>

  <label>Foto da empresa:</label>
  <input type="file" [(ngModel)]="entity.ImageName" name="cover" required />

  <button type="submit" class="btn btn-primary">Registar</button>
</form>
