#list {
  padding-top: 60px;
}

table {
  overflow: scroll;
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #cccccc;
}

#thead {
  background-color: #f8f4f4;
  height: 50px;
  border: 1px solid #cccccc;
  color: #929292;
}

th {
  border: 1px solid #cccccc;
}

.dashboard {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
  height: 100vh;
  box-sizing: border-box;
  padding-top: 70px;
}

.chart {
  background-color: lightblue;
  border: 1px solid cyan;
  border-radius: 8px;
  padding: 20px;
  text-align: center;
}
